@charset "UTF-8";
/*Color Scheme:#2F8BED, #4D30F0, #0027EB, #10BFEB, #7807F0, #8C9CED*/
/*Linear gradient used with my provided color scheme */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #10BFEB;
    background: -moz-linear-gradient(left,#10BFEB 0%,#8C9CED);
    background: -webkit-linear-gradient(left, #10BFEB 0%,#8C9CED 100%); 
    background: -o-linear-gradient(left, #10BFEB 0%,#8C9CED 100%); 
    background: linear-gradient(to right, #10BFEB 0%,#8C9CED 100%);
}

/*Align text middle, choosing color scheme, padding for aesthetic, word-wrap and overflow-wrap allows break line in text */
header, footer{
    text-align: center;
    background: #2F8BED;
    color: white;
    padding: 5px;
    box-sizing: border-box;  
    word-wrap: break-word;    
    overflow-wrap: break-word;
}

/*Setting width to only 80%, auto margins for aesthetic, color scheme added and text aligned */
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D30F0;
    color:white;
    text-align: center;
}

/*Setting max image size to be 30%, so it does not go outside of my div, resized in different css files due to screen size */
img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*CSS code for my form, added padding and set height for aesthetic, as well as an angular gradient */
#form{
    padding: 5px;
    height: 700px;
    background: linear-gradient(121deg, #4D30F0, #10BFEB)
}

/*Floating all objects in left column to left, setting its width to half size (responsive), and setting height and color */
#left-column{
    float: left;
    width: 50%;
    background-color: #4D30F0;
    height:400px;
}

/*Floating all objects in right column to right, setting its width to half size (responsive), and setting height and color */
#right-column{
    float:right;
    width: 50%;
    height:auto;
    background-color: #4D30F0;
    height:400px;
}

/*Padding and margins for aesthetic, changed background color to black and added a border with box shadow for aesthetic */
video {
    padding:15px;
    margin: 15px;
    background-color: black;
    border:2px white solid; 
    box-shadow: 10px 10px 5px black;
}

/*Formatting my article in projects, added padding and box-sizing so text does not go outside of its section */
article {
    padding: 10px;          
    box-sizing: border-box; 
}