@charset "UTF-8";
/*Color Scheme: #F7BF52, #F7E752, #F7D352, #F7A852, #FA3346 */
/*Linear gradient used with my provided color scheme */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F7BF52;
    background: -moz-linear-gradient(left,#F7BF52 0%,#F7E752);
    background: -webkit-linear-gradient(left, #F7BF52 0%,#F7E752 100%); 
    background: -o-linear-gradient(left, #F7BF52 0%,#F7E752 100%); 
    background: linear-gradient(to right, #F7BF52 0%,#F7E752 100%);
}

/*Align text middle, choosing color scheme, padding for aesthetic, word-wrap and overflow-wrap allows break line in text */
header, footer{
    text-align: center;
    background: #F7A852;
    color: black;
    padding: 5px;
    box-sizing: border-box;  
    word-wrap: break-word;    
    overflow-wrap: break-word;
}

/*Setting width to only 80%, auto margins for aesthetic, color scheme added and text aligned */
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7D352;
    color:black;
    text-align: center;
}

/*Setting max image size to be 30%, so it does not go outside of my div, resized in different css files due to screen size */
img {
    max-width: 55%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*CSS code for my form, added padding and set height for aesthetic, as well as an angular gradient */
#form{
    padding: 5px;
    height: 700px;
    background: linear-gradient(121deg, #F7D352, #FA3346)
}

/*Floating all objects in left column to left, setting its width to half size (responsive), and setting height and color */
#left-column{
    float: left;
    width: 50%;
    background-color: #F7D352;
    height:400px;
}

/*Floating all objects in right column to right, setting its width to half size (responsive), and setting height and color */
#right-column{
    float:right;
    width: 50%;
    height:auto;
    background-color: #F7D352;
    height:400px;
}

/*Padding and margins for aesthetic, changed background color to black and added a border with box shadow for aesthetic */
video {
    width: 70%;
    height: 70%;
    padding:15px;
    margin: 15px;
    background-color: black;
    border:2px white solid; 
    box-shadow: 10px 10px 5px black;
}

/*Resizing my media depending on viewport, in order for it to look appealing and not flood the entire page if screen size is smaller. Changing float to none so they can be vertical if needed (smaller device) */
@media (min-width: 481px) and (max-width:959px){
    #left-column,
    #right-column {
        float:none;
        width:100%;
        height:auto;
        box-sizing:border-box;
    }
}

/*Formatting my article in projects, added padding and box-sizing so text does not go outside of its section */
article {
    padding: 10px;          
    box-sizing: border-box; 
}